<div>
  <app-scroll-top-button></app-scroll-top-button>
</div>
<ng-container *ngIf='collection'>
    <ng-container *ngIf='!image.show; else ElseHide'>
        <div style="position: relative; padding-left: 15px; padding-right: 15px;" class="list-element">
            <div *ngFor='let element of collection.list; let i = index' id="element-{{element.path}}">
                <!--<span *ngIf='last'>{{last ? ngForEnd() : ''}}</span>  [routerLink]='["/Manage" + element.path]'  -->
                <div class="img-thumnail" (click)='showImage(i)' style="display: inline-block;">
                   <img src="{{connection.protocol}}://{{connection.host}}:{{connection.port}}/api/file/thumbnail/{{element.path}}" (error)="ErrorTools.reloadBrokenImage($event)">
               </div>
            </div>
       </div>
    </ng-container>
    <ng-template #ElseHide>
        <div class="image-panel">
            <app-image-view (HideImage)="hideImage()" (LoadNextCollectionPage)="loadNextCollectionPage()" [collection]='collection' [image]='image'></app-image-view>
        </div>
    </ng-template>
</ng-container>
