.list-element{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}
.img-thumnail{
    border: 1px solid gray;
    height: 75px;
    width: 75px;
}
.image-panel{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    overflow: hidden;
    z-index: 3;
}