<div id="button-container" class="{{AudioBarModal.modalState}}">
    <app-audio-bar-modal [AudioBarInstance]="this"></app-audio-bar-modal>
</div>
<div class="smathphone-display" style="height: -webkit-fill-available; padding: 15px; background-color: black;" (mousemove)='DragEvent($event, this)' (touchmove)='DragEvent($event, this)' (mouseleave)='DragProgress.mouseUpAudio(this);DragVolume.mouseUpVolume(this);DragEvent($event, this)' (mouseup)='DragProgress.mouseUpAudio(this);DragVolume.mouseUpVolume(this)' (touchend)='DragProgress.mouseUpAudio(this);DragVolume.mouseUpVolume(this);DragEvent($event, this)'>
    <div style="width: 100%; text-align: center;">
        <div style="display: flex; justify-content: space-between;">
            <span class="reproductor-icon" [routerLink]='["/Manage" + Operations.theme.data.directory]'>Z</span>
            <p style="color: white;">{{Operations.theme.data.name}}</p>
            <span class="reproductor-icon empty">Z</span>
        </div>
        <div class="display-inline" style="display: flex; align-items: center; width: 100%;">
            <div>
                <button tooltip="Volumen" placement="bottom" (click)='Operations.muteVol(this)' class="my-home-icons-font cursor-pointer button-style button-clear">{{ViewResources.volLogo}}</button>
            </div>
            <div id="bar-ajustable-vol-width" style="position: relative; overflow: hidden; display: inline-block; padding-left: 25px; padding-right: 25px; vertical-align: bottom; width: -webkit-fill-available;">
                <div style="width: {{ProgressBars.volume.size}}px;" id='vol-bar-padding' (mousedown)='ToClick($event, this)' (touchstart)='ToClick($event, this)'></div>
                <div style="width: {{ProgressBars.volume.progress}}px; background-color: {{barVolColor}};" id='vol-bar-progress'></div>
                <div style="width: {{ProgressBars.volume.size}}px; background-color: {{barVolColorBack}};" id='vol-bar'>
                    <div style="margin-left: {{ProgressBars.volume.progress}}px; background-color: {{babyMeatballColor}};" id='Baby-Meatball' (mousedown)='DragVolume.mouseDownVolume(this)' (touchstart)='DragVolume.mouseDownVolume(this)'></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="song-cover">
            <img src="" alt="">
        </div>
    </div>
    <div style="width: 100%;">
        <div id="button-gear-container" class="display-inline" style="position: relative;">
            <button id="button-gear" tooltip="Desplegar opciones" placement="bottom" (click)='AudioBarModal.showModal()' class="my-home-icons-font button-style button-clear cursor-pointer {{AudioBarModal.modalState}}" style="margin-left: 5px; margin-right: 5px;">J</button>
        </div>
        <div style="display: flex; width: 100%; align-items: center;">
            <div style="display: inline-block; margin-left: 5px; margin-right: 5px;">
                <span style="color: white; font-weight: bold;">{{ViewResources.time}}</span>
            </div>
            <div style="position: relative; width: 100%;">
                <p class="timeTag" style="margin-left: {{ViewResources.timeToolTip.position}}px; display:{{ViewResources.timeToolTip.display}}; ">{{ViewResources.timeToolTip.value}}</p>
                <div id="bar-ajustable-width" style="position: relative; display: inline-block; width: -webkit-fill-available; overflow: hidden; padding-left: 15px; padding-right: 15px;">
                    <div style="width: {{ProgressBars.media.size}}px;" id='audio-bar-padding' (mousedown)='ToClick($event, this)' (touchstart)='ToClick($event, this)'></div>
                    <div style="width: {{ProgressBars.media.progress}}px; background-color: {{barColor}};" id='audio-bar-progress'></div>
                    <div style="width: {{ProgressBars.media.size}}px;" id='audio-bar'>
                        <div style="margin-left: {{ProgressBars.media.progress}}px;" id='Meatball' (mousedown)='DragProgress.mouseDownAudio()' (touchstart)='DragProgress.mouseDownAudio()'></div>
                    </div>
                </div>
            </div>
            
            <div style="display: inline-block; margin-right: 10px; margin-left: 10px; margin-left: 5px; margin-right: 5px;">
                <span style="color: white; font-weight: bold;">{{ViewResources.maxTime}}</span>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">
            <div>
                <span class="reproductor-icon empty">[</span>
            </div>
            <div style="display: flex; margin-left: 5px; margin-right: 5px;">
                <button (click)='Reproduction.nextTheme(this,$event)' value="-1" class="button button-style button-clear next-button">$</button>
                <button (click)='Operations.setPlayPause(this)' class="button button-style button-clear play-button">{{ViewResources.playLogo}}</button>
                <button (click)='Reproduction.nextTheme(this,$event)' value="1" class="button button-style button-clear next-button">%</button>
            </div>
            <div>
                <span class="reproductor-icon">[</span>
            </div>
        </div>
    </div>
</div>
