<div style="padding: 10px;">
    <div *ngFor='let content of directoryContent' [routerLink]='["/Manage" + content.abpath]' class="directory-element-horizontal">
        <div class="img-thumnail" style="display: inline-block;">
            <ng-container *ngIf='content.back; else backElse'>
                <img src="{{mediaPath}}{{logos_name.directory.back}}">
            </ng-container>
            <ng-template #backElse>
                <ng-container *ngIf='content.directory; else fileElse'>
                    <img src="{{mediaPath}}{{logos_name.directory.folder}}">
                </ng-container>
                <ng-template #fileElse>
                    <ng-container *ngIf='content.type == media_types.audio'>
                        <img src="{{mediaPath}}{{logos_name.files.audio}}">
                    </ng-container>
                    <ng-container *ngIf='content.type == media_types.video'>
                        <img src="{{mediaPath}}{{logos_name.files.other}}">
                    </ng-container>
                    <ng-container *ngIf='content.type == media_types.image; else elseOther'>
                        <img src="{{connection.protocol}}://{{connection.host}}:{{connection.port}}/api/file/data/{{content.abpath}}">
                    </ng-container>
                    <ng-template #elseOther>
                        
                    </ng-template>
                </ng-template>
            </ng-template>
        </div>
        <p class="directory-element-title">{{content.name}} <span *ngIf='content.extension != ""'>.{{content.extension}}</span></p>
    </div>
</div>
