.title-box{
    display: inline-block;
    padding: 10px;
    height: 40px;
    width: 40px;
    vertical-align: top;
    text-align: right;
    box-sizing: border-box;
}

.title-box a{
    text-decoration: none;
}

.center-input{
    text-align: center;
}