#scroll-up-button{
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    min-width: 25px;
    min-height: 25px;
    margin-left: 10px;
    text-align: center;
}

#scroll-up-button p{
    margin: 0px;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}