html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 245, 245);
}

.principal-module{
    overflow: hidden;
}

.principal-module-scroll{
    overflow-y: scroll;
}

#header, #footer{
    height: 10%;
    background-color: rgb(225, 225, 225);
}

#header{
}

#body{
    height: 80%;
}

#footer{
}

.img-thumnail{
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.img-thumnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.directory-element-horizontal{
    padding: 10px;
    white-space: nowrap;
    border-top: 1px solid gray;
}

.no-border{
    border: none;
}

.directory-element-title{
    display: inline-block;
    width: 80%;
    margin-left: 10px;
    vertical-align: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
}