.random-access{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid gray;
}

.reproductor-icon{
    font-family: my-home-icons;
    font-size: 1.5em;
    font-weight: bold;
}

.list-element{
    border-bottom: 1px solid gray;
}

.list-element-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}